In [2]:
import pandas as pd

In [4]:
catalog.list()

['raw_covalent_nft_txs',
 'int_covalent_nft_txs',
 'parameters',
 'params:contracts',
 'params:contracts.azuki',
 'params:contracts.doodles',
 'params:contracts.moonbirds',
 'params:contracts.clonex',
 'params:contracts.mayc',
 'params:contracts.pxn',
 'params:contracts.goblintown',
 'params:covalent',
 'params:covalent.endpoint',
 'params:covalent.categories',
 'params:covalent.categories.tokens',
 'params:covalent.categories.topic',
 'params:covalent.categories.topic.nft_token_id',
 'params:covalent.categories.topic.nft_tx',
 'params:covalent.tx_metadata',
 'params:covalent.tx_params']

In [5]:
df = catalog.load("int_covalent_nft_txs")

2022-07-15 23:39:30,843 - kedro.io.data_catalog - INFO - Loading data from `int_covalent_nft_txs` (ParquetDataSet)...

In [6]:
df

,collection,token_id,block_signed_at,from,to,value,name
0,azuki,0,2022-01-12T04:17:28Z,0x0000000000000000000000000000000000000000,0xd45058bf25bbd8f586124c479d384c8c708ce23a,None,Transfer
1,azuki,1,2022-01-12T04:17:28Z,0x0000000000000000000000000000000000000000,0xd45058bf25bbd8f586124c479d384c8c708ce23a,None,Transfer
2,azuki,2,2022-01-12T04:17:28Z,0x0000000000000000000000000000000000000000,0xd45058bf25bbd8f586124c479d384c8c708ce23a,None,Transfer
3,azuki,3,2022-01-25T06:58:20Z,0xd45058bf25bbd8f586124c479d384c8c708ce23a,0x645d2b4bfb047566ff60e2e7112373885935eac4,None,Transfer
4,azuki,3,2022-01-12T04:17:28Z,0x0000000000000000000000000000000000000000,0xd45058bf25bbd8f586124c479d384c8c708ce23a,None,Transfer
...,...,...,...,...,...,...,...
316234,pxn,9997,2022-05-07T21:19:50Z,0x0000000000000000000000000000000000000000,0xa7a8611a2d7663b3e215bb73f5fd57c9e673b2d8,None,Transfer
316235,pxn,9998,2022-05-13T14:35:54Z,0xa7a8611a2d7663b3e215bb73f5fd57c9e673b2d8,0x1edf858f3d66f8d8b595e52af3ffb993f0cad086,None,Transfer
316236,pxn,9998,2022-05-07T21:19:50Z,0x0000000000000000000000000000000000000000,0xa7a8611a2d7663b3e215bb73f5fd57c9e673b2d8,None,Transfer
316237,pxn,9999,2022-05-13T14:35:54Z,0xa7a8611a2d7663b3e215bb73f5fd57c9e673b2d8,0x1edf858f3d66f8d8b595e52af3ffb993f0cad086,None,Transfer
316238,pxn,9999,2022-05-07T21:19:50Z,0x0000000000000000000000000000000000000000,0xa7a8611a2d7663b3e215bb73f5fd57c9e673b2d8,None,Transfer

In [7]:
df["value"].value_counts()

1000000000000             59
2427200000000000000000    37
0                         32
1                         28
385200000000000000000     26
                          ..
4100000000000000000        1
39689247                   1
27750000000000000000       1
3021000000000000000000     1
350000000000000000         1
Name: value, Length: 179, dtype: int64

In [9]:
df["value"].value_counts().sum()

585

In [8]:
df["name"].value_counts()

Transfer                      148723
OrdersMatched                 108459
CloneXRevealed                 19303
TransferSingle                 11767
swapEvent                       8078
Revenue                         7875
TakerBid                        4755
ExecutionSuccess                1815
TakerAsk                        1677
Withdrawal                      1672
LoanStarted                      504
LoanRepaid                       465
Redeemed                         224
UserStaked                       140
DepositERC721                     97
LoanLiquidated                    94
Withdraw                          90
TransactionExecuted               86
Minted                            68
Sell                              49
SwapExecuted                      37
BetaDeposited                     30
SwapProposed                      30
InventoryUnstaked                 29
Swap                              26
Redeem                            20
SwapInitiated                     17
Swapped                           16
TransferBatch                     14
FlashLoan                         12
SwapCanceled                      10
AuctionApprovalUpdated             9
AuctionCanceled                    7
WithdrawERC721                     6
Approval                           5
BetaWithdrawn                      5
CBOXClaimed                        4
CreateNote                         3
AuctionEnded                       2
Borrowed                           2
NiftySale721                       2
TransferNotes                      2
ChosenHolder                       2
ActionExecuted                     1
DelegateVotesChanged               1
ERC721WrapAsked                    1
Relisted                           1
Transacted                         1
Execution                          1
Locked                             1
RandomnessRequestFulfilled         1
Name: name, dtype: int64

In [11]:
df[df["value"] == "2427200000000000000000"]

,collection,token_id,block_signed_at,from,to,value,name
167756,mayc,1906,2022-04-14T04:34:27Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x7bf8bf27e3f300fece90eb785e4f09aba827edde,2427200000000000000000,Transfer
171571,mayc,2558,2022-03-20T18:30:13Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x92e7142f0baef8e86ba314fbfefe97a855bf04dd,2427200000000000000000,Transfer
176645,mayc,3440,2022-03-23T18:18:26Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xb3be6c49d514df6c82ee0e33054c7c49e6d7760c,2427200000000000000000,Transfer
181394,mayc,4265,2022-03-22T16:59:21Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x2493c86b62e8ff26208399144817ef2898c59460,2427200000000000000000,Transfer
188523,mayc,5426,2022-03-22T16:50:38Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x2493c86b62e8ff26208399144817ef2898c59460,2427200000000000000000,Transfer
194801,mayc,6455,2022-03-22T02:48:18Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xfd81f0a07969deebe5adcaab1d62122149df9f88,2427200000000000000000,Transfer
197518,mayc,6948,2022-04-02T15:18:15Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xd62e3a24c71e124d126193e1db64c3f97abcf39b,2427200000000000000000,Transfer
198214,mayc,7066,2022-03-19T10:13:48Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x0207cf9dd91dc39d7acdab93f404e93980fbe516,2427200000000000000000,Transfer
205746,mayc,8350,2022-03-20T12:50:05Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x89784c269b024b2c5ed12a1360b496cad5c3e8e7,2427200000000000000000,Transfer
207649,mayc,8667,2022-03-21T22:07:07Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x8c0f5bcf087b5b9d90b24285ec66775f513c13d2,2427200000000000000000,Transfer
209538,mayc,9003,2022-03-19T07:22:56Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x0207cf9dd91dc39d7acdab93f404e93980fbe516,2427200000000000000000,Transfer
211099,mayc,9243,2022-04-26T15:57:58Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xfbec33ce44d19bdd74cb79d02b772fc668fdb973,2427200000000000000000,Transfer
211539,mayc,9310,2022-04-26T15:46:44Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xfbec33ce44d19bdd74cb79d02b772fc668fdb973,2427200000000000000000,Transfer
212223,mayc,9428,2022-04-04T05:55:12Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x988e858c925d4d25e25037400149ff3468dcd51b,2427200000000000000000,Transfer
214453,mayc,9776,2022-03-23T00:27:47Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x2db0763686a3e10083b57435c0c8a1049ea66d10,2427200000000000000000,Transfer
217352,mayc,10914,2022-03-30T07:39:13Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xd950b9a4f667184c386b0c57311784c762d591b6,2427200000000000000000,Transfer
222715,mayc,13858,2022-03-19T23:04:01Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x3fc0af79603e6ce2ec11f82577de8480af20e8c7,2427200000000000000000,Transfer
224000,mayc,14598,2022-05-15T17:33:40Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x0b2ae79faaf5a7095bc13e71777abbd4bd632c39,2427200000000000000000,Transfer
224515,mayc,14846,2022-03-30T21:23:09Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x6189e05a28bef26bcf76f22ab311282d5e843df4,2427200000000000000000,Transfer
224918,mayc,15078,2022-03-19T10:32:16Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xfcfdf5cf7573cb8467a5d371419b024005bc70b2,2427200000000000000000,Transfer
227501,mayc,16480,2022-04-27T23:00:46Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xe941ec78ee6c4412dcedaf90e5591b2a7ff085a7,2427200000000000000000,Transfer
229650,mayc,17714,2022-04-27T21:36:24Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x5d223677ab95ac3db0737486022f11ba072a3ae3,2427200000000000000000,Transfer
230729,mayc,18256,2022-03-21T21:58:17Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x8c0f5bcf087b5b9d90b24285ec66775f513c13d2,2427200000000000000000,Transfer
232576,mayc,19318,2022-03-22T21:24:00Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x2493c86b62e8ff26208399144817ef2898c59460,2427200000000000000000,Transfer
232755,mayc,19402,2022-04-30T18:35:25Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x014e859e6408b111b8114c90170a209b3829a3cb,2427200000000000000000,Transfer
234002,mayc,20090,2022-03-20T01:54:31Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x5e59e30c70b9c68e78febaa510b4411bb67d64ca,2427200000000000000000,Transfer
235870,mayc,20955,2022-03-30T17:03:08Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x4a976b265c50311422b99d0a2a9a65b6884f6f6e,2427200000000000000000,Transfer
238383,mayc,22404,2022-05-15T17:33:40Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x0b2ae79faaf5a7095bc13e71777abbd4bd632c39,2427200000000000000000,Transfer
239349,mayc,22960,2022-04-28T16:57:58Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x5e55424a256c5d1e73f981a8116c390f670bd756,2427200000000000000000,Transfer
240217,mayc,23400,2022-04-06T09:55:58Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xb4aa5aedf4dcbe3e0755a19575e5c69164d43e70,2427200000000000000000,Transfer
240415,mayc,23534,2022-05-24T14:50:22Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0xed034b287ea77a14970f1c0c8682a80a9468dbb3,2427200000000000000000,Transfer
244415,mayc,25744,2022-03-24T19:55:21Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x3d2ea4fce32a53a6a9d56d2698b2d126114a6144,2427200000000000000000,Transfer
245813,mayc,26534,2022-03-19T21:38:04Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x133910578987c4777f21068fb4df97ef226faafc,2427200000000000000000,Transfer
246359,mayc,26917,2022-05-26T18:11:25Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x2493c86b62e8ff26208399144817ef2898c59460,2427200000000000000000,Transfer
247186,mayc,27301,2022-04-13T06:57:13Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x7ccc75a9f9c51e2b6267b7577b8762943cb63bcb,2427200000000000000000,Transfer
249096,mayc,28306,2022-04-29T14:19:30Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x2210a610c21883bcdb8d71964e230cf8b68e3026,2427200000000000000000,Transfer
250091,mayc,28862,2022-04-14T10:28:37Z,0x32fbe88b61f834da43ab98edc840a40cec08ff9c,0x13b42d3e209c377798b4e71ce939a2bdde23cb6b,2427200000000000000000,Transfer