In [1]:
import pandas as pd
from web3 import Web3

2022-07-25 23:48:06,105 - py.warnings - WARNING - C:\Users\shawn\Anaconda3\envs\NetworkFT\lib\site-packages\eth_utils\toolz.py:2: DeprecationWarning: The toolz.compatibility module is no longer needed in Python 3 and has been deprecated. Please import these utilities directly from the standard library. This module will be removed in a future release.
  from cytoolz import (

2022-07-25 23:48:06,236 - py.warnings - WARNING - C:\Users\shawn\Anaconda3\envs\NetworkFT\lib\site-packages\web3\_utils\normalizers.py:231: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(eth_abi.__version__) < LooseVersion("2"):

In [2]:
catalog.list()

[
    'raw_covalent_txs',
    'int_covalent_txs',
    'pri_txs',
    'graph',
    'parameters',
    'params:contracts',
    'params:contracts.azuki',
    'params:contracts.doodles',
    'params:contracts.moonbirds',
    'params:contracts.clonex',
    'params:contracts.mayc',
    'params:contracts.pxn',
    'params:contracts.goblintown',
    'params:covalent',
    'params:covalent.endpoint',
    'params:covalent.categories',
    'params:covalent.categories.tokens',
    'params:covalent.categories.topic',
    'params:covalent.categories.topic.nft_token_id',
    'params:covalent.categories.topic.nft_tx',
    'params:covalent.tx_metadata',
    'params:covalent.tx_params',
    'params:covalent.convert_wei',
    'params:covalent.convert_timestamp',
    'params:covalent.rename_columns',
    'params:covalent.rename_columns.block_signed_at',
    'params:covalent.filter_columns',
    'params:covalent.filter_columns.from',
    'params:covalent.filter_columns.from.condition',
    'params:covalent.filter_columns.from.value',
    'params:covalent.filter_columns.to',
    'params:covalent.filter_columns.to.condition',
    'params:covalent.filter_columns.to.value',
    'params:covalent.filter_columns.value',
    'params:covalent.filter_columns.value.condition',
    'params:covalent.filter_columns.value.value',
    'params:covalent.convert_unidirectional',
    'params:covalent.convert_unidirectional.cols',
    'params:covalent.convert_unidirectional.cols.from',
    'params:covalent.convert_unidirectional.cols.to',
    'params:covalent.convert_unidirectional.entity_col',
    'params:covalent.groupby',
    'params:covalent.agg',
    'params:covalent.agg.value',
    'params:covalent.time_cols',
    'params:covalent.time_cols.timestamp',
    'params:graph',
    'params:graph.cols',
    'params:graph.other_collection_label'
]

In [4]:
df = catalog.load("graph")

2022-07-25 23:48:32,465 - kedro.io.data_catalog - INFO - Loading data from 'graph' (ParquetDataSet)...

In [13]:
df[(df["collection_from"] != "O") & (df["collection_to"] != "O")]

,timestamp,collection_from,collection_to,value
0,2022-03-20 00:00:00+00:00,doodles,mayc,13.13

In [3]:
df = catalog.load("pri_txs_uni_agg")

2022-07-24 22:12:51,668 - kedro.io.data_catalog - INFO - Loading data from 'pri_txs_uni_agg' (ParquetDataSet)...

In [4]:
df_shift = df.groupby(
    ["timestamp", "entity"]
).agg(
        collection_count=("collection", lambda x: x.nunique()),
        direction_count=("direction", lambda x: x.nunique())
).reset_index()
df_direction = df.merge(df_shift, on=["timestamp", "entity"])

In [5]:
df_direction

,timestamp,collection,entity,direction,value,collection_count,direction_count
0,2021-10-03 00:00:00+00:00,mayc,0x1bccc3dc32d6977ca14beff7a2130f578620cdb3,in,7.00,1,1
1,2021-10-03 00:00:00+00:00,mayc,0x48e4dd3e356823070d9d1b7d162d072ae9efe0cb,out,7.00,1,1
2,2021-10-10 00:00:00+00:00,mayc,0x2d1194e75b408c9395a8bbbedc0079322b62c0a4,out,3.49,1,1
3,2021-10-10 00:00:00+00:00,mayc,0x6eaaf9d6ebca287c9146cc5a2e1e40ba33af092c,in,3.49,1,1
4,2021-10-24 00:00:00+00:00,doodles,0x084e4738b6ef28edfa113525b74d15a8d85ba9a8,in,1.55,1,1
...,...,...,...,...,...,...,...
577,2022-06-12 00:00:00+00:00,doodles,0x774badbc759234bff52b0be11bf61bb68c9e9a24,in,0.01,1,1
578,2022-06-12 00:00:00+00:00,moonbirds,0x826d8e0a4ee2107b5639be1b36eb7a214d33bc47,out,20.00,1,1
579,2022-06-12 00:00:00+00:00,moonbirds,0xd8582a628770761d8b26816ec335c1d36f31d606,in,20.00,1,1
580,2022-06-12 00:00:00+00:00,pxn,0x22eac9878b8aebf913ffa4694f6e6115e5ab5857,out,0.80,1,1
581,2022-06-12 00:00:00+00:00,pxn,0x29e80b2a0325e6c6eea4bcd2e8df0cf7b46063b9,in,0.80,1,1

In [6]:
internal_mask = (df_direction["direction_count"] > 1) & (df_direction["collection_count"] > 1)
df_inter = df_direction[internal_mask]
df_exter = df_direction[~internal_mask]
df_inter

,timestamp,collection,entity,direction,value,collection_count,direction_count
199,2022-03-20 00:00:00+00:00,doodles,0xb30452beca9c462bc6773582c9e0d70cc60e7321,in,13.13,2,2
200,2022-03-20 00:00:00+00:00,mayc,0xb30452beca9c462bc6773582c9e0d70cc60e7321,out,20.75,2,2

In [7]:
df_eg = pd.DataFrame(
    {
        "timestamp": [0] * 7,
        "collection": ["A", "B", "C", "D", "A", "B", "D"],
        "entity": [1] * 4 + [2] * 3,
        "direction": ["in", "in", "out", "out", "in", "in", "out"],
        "value": [5, 10, 8, 14, 3, 5, 3],
    }
)

In [17]:

dfs = []
for index, group in df_eg.groupby("entity"):

    df_from = group[group["direction"] == "in"].copy()
    df_from["total_value"] = df_from["value"].sum()
    
    df_to = group[group["direction"] == "out"].copy()
    df_to["total_value"] = df_to["value"].sum()

    df_from_to = df_from.merge(df_to, on="timestamp", suffixes=("_from", "_to"))
    
    df_from_to["expected_value_from"] = df_from_to["value_from"] * df_from_to["value_to"] / df_from_to["total_value_to"]
    df_from_to["expected_value_to"] = df_from_to["value_to"] * df_from_to["value_from"] / df_from_to["total_value_from"]

    df_from_to["value"] = df_from_to[["expected_value_from", "expected_value_to"]].min(axis=1)
    
    dfs.append(df_from_to)
df_edge_inter = pd.concat(dfs)

In [21]:
# Extra value generated
df_edge_inter["outflow"] = df_edge_inter["expected_value_from"] - df_edge_inter["expected_value_to"]
df_edge_inter

,timestamp,collection_from,entity_from,direction_from,value_from,total_value_from,collection_to,entity_to,direction_to,value_to,total_value_to,expected_value_from,expected_value_to,value,outflow
0,0,A,1,in,5,15,C,1,out,8,22,1.818182,2.666667,1.818182,-0.848485
1,0,A,1,in,5,15,D,1,out,14,22,3.181818,4.666667,3.181818,-1.484848
2,0,B,1,in,10,15,C,1,out,8,22,3.636364,5.333333,3.636364,-1.696970
3,0,B,1,in,10,15,D,1,out,14,22,6.363636,9.333333,6.363636,-2.969697
0,0,A,2,in,3,8,D,2,out,3,3,3.000000,1.125000,1.125000,1.875000
1,0,B,2,in,5,8,D,2,out,3,3,5.000000,1.875000,1.875000,3.125000

In [31]:
outflow_mask = df_edge_inter["outflow"] > 0

outflows = df_edge_inter[outflow_mask].groupby(
    ["timestamp", "collection_to"]
).agg(value=("outflow", "sum")).reset_index()
outflows["collection_from"] = "O"

inflows = df_edge_inter[~outflow_mask].groupby(
    ["timestamp", "collection_from"]
).agg(value=("outflow", "sum")).abs().reset_index()
inflows["collection_to"] = "O"

In [47]:
inflows.head(1)

,timestamp,collection_from,value,collection_to
0,0,A,2.333333,O

In [36]:
df_exter

,timestamp,collection,entity,direction,value,collection_count,direction_count
0,2021-10-03 00:00:00+00:00,mayc,0x1bccc3dc32d6977ca14beff7a2130f578620cdb3,in,7.00,1,1
1,2021-10-03 00:00:00+00:00,mayc,0x48e4dd3e356823070d9d1b7d162d072ae9efe0cb,out,7.00,1,1
2,2021-10-10 00:00:00+00:00,mayc,0x2d1194e75b408c9395a8bbbedc0079322b62c0a4,out,3.49,1,1
3,2021-10-10 00:00:00+00:00,mayc,0x6eaaf9d6ebca287c9146cc5a2e1e40ba33af092c,in,3.49,1,1
4,2021-10-24 00:00:00+00:00,doodles,0x084e4738b6ef28edfa113525b74d15a8d85ba9a8,in,1.55,1,1
...,...,...,...,...,...,...,...
577,2022-06-12 00:00:00+00:00,doodles,0x774badbc759234bff52b0be11bf61bb68c9e9a24,in,0.01,1,1
578,2022-06-12 00:00:00+00:00,moonbirds,0x826d8e0a4ee2107b5639be1b36eb7a214d33bc47,out,20.00,1,1
579,2022-06-12 00:00:00+00:00,moonbirds,0xd8582a628770761d8b26816ec335c1d36f31d606,in,20.00,1,1
580,2022-06-12 00:00:00+00:00,pxn,0x22eac9878b8aebf913ffa4694f6e6115e5ab5857,out,0.80,1,1
581,2022-06-12 00:00:00+00:00,pxn,0x29e80b2a0325e6c6eea4bcd2e8df0cf7b46063b9,in,0.80,1,1

In [44]:
in_mask = df_exter["direction"] == "in"
df_exter_in = df_exter[in_mask].copy().rename({"collection": "collection_to"}, axis=1)
df_exter_in["collection_from"] = "O"

df_exter_out = df_exter[~in_mask].copy().rename({"collection": "collection_from"}, axis=1)
df_exter_out["collection_to"] = "O"

In [48]:
pd.concat([df_edge_inter, inflows, outflows, df_exter_in, df_exter_out])

,timestamp,collection_from,entity_from,direction_from,value_from,total_value_from,collection_to,entity_to,direction_to,value_to,total_value_to,expected_value_from,expected_value_to,value,outflow,entity,direction,collection_count,direction_count
0,0,A,1.0,in,5.0,15.0,C,1.0,out,8.0,22.0,1.818182,2.666667,1.818182,-0.848485,NaN,NaN,NaN,NaN
1,0,A,1.0,in,5.0,15.0,D,1.0,out,14.0,22.0,3.181818,4.666667,3.181818,-1.484848,NaN,NaN,NaN,NaN
2,0,B,1.0,in,10.0,15.0,C,1.0,out,8.0,22.0,3.636364,5.333333,3.636364,-1.696970,NaN,NaN,NaN,NaN
3,0,B,1.0,in,10.0,15.0,D,1.0,out,14.0,22.0,6.363636,9.333333,6.363636,-2.969697,NaN,NaN,NaN,NaN
0,0,A,2.0,in,3.0,8.0,D,2.0,out,3.0,3.0,3.000000,1.125000,1.125000,1.875000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,2022-06-12 00:00:00+00:00,azuki,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,NaN,11.500000,NaN,0x6552be7816f797945120ee965b9903da3f0c4845,out,1.0,1.0
575,2022-06-12 00:00:00+00:00,azuki,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,NaN,4.800000,NaN,0xf68d24cbf05ea741d9b2bd376dbbbbb35084a61f,out,1.0,1.0
576,2022-06-12 00:00:00+00:00,doodles,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,NaN,0.010000,NaN,0x51738035f9c8d8ef83aa6c2a6854a80347616e0c,out,1.0,1.0
578,2022-06-12 00:00:00+00:00,moonbirds,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,NaN,0x826d8e0a4ee2107b5639be1b36eb7a214d33bc47,out,1.0,1.0
580,2022-06-12 00:00:00+00:00,pxn,NaN,NaN,NaN,NaN,O,NaN,NaN,NaN,NaN,NaN,NaN,0.800000,NaN,0x22eac9878b8aebf913ffa4694f6e6115e5ab5857,out,1.0,1.0

,timestamp,collection_from,entity,direction,value,collection_count,direction_count,collection_to
1,2021-10-03 00:00:00+00:00,mayc,0x48e4dd3e356823070d9d1b7d162d072ae9efe0cb,out,7.00,1,1,O
2,2021-10-10 00:00:00+00:00,mayc,0x2d1194e75b408c9395a8bbbedc0079322b62c0a4,out,3.49,1,1,O
5,2021-10-24 00:00:00+00:00,doodles,0x2cb07184e9186ffa56168bb980d0f9b389effa2e,out,5.30,1,1,O
6,2021-10-24 00:00:00+00:00,doodles,0x39b2bd7b6362f5282b98a3f5cf779e2b3457f82b,out,1.19,1,1,O
10,2021-10-24 00:00:00+00:00,doodles,0xbdd95abe8a7694ccd77143376b0fbea183e6a740,out,1.55,1,1,O
...,...,...,...,...,...,...,...,...
573,2022-06-12 00:00:00+00:00,azuki,0x6552be7816f797945120ee965b9903da3f0c4845,out,11.50,1,1,O
575,2022-06-12 00:00:00+00:00,azuki,0xf68d24cbf05ea741d9b2bd376dbbbbb35084a61f,out,4.80,1,1,O
576,2022-06-12 00:00:00+00:00,doodles,0x51738035f9c8d8ef83aa6c2a6854a80347616e0c,out,0.01,1,1,O
578,2022-06-12 00:00:00+00:00,moonbirds,0x826d8e0a4ee2107b5639be1b36eb7a214d33bc47,out,20.00,1,1,O
580,2022-06-12 00:00:00+00:00,pxn,0x22eac9878b8aebf913ffa4694f6e6115e5ab5857,out,0.80,1,1,O

In [13]:
raw["azuki"]["9384"]

{'updated_at': '2022-06-12T11:05:01.645600014Z',
 'txs': [{'block_signed_at': '2022-06-02T08:06:39Z',
   'block_height': 14889843,
   'tx_offset': 72,
   'log_offset': 124,
   'tx_hash': '0xa950b9898da63ede2824d734eb2942c3983a3d99d77ff87cf484a2b3c667e4a7',
   'raw_log_topics': ['0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef',
    '0x0000000000000000000000005d7aaa862681920ea4f350a670816b0977c80b37',
    '0x000000000000000000000000734a779dcecf924bff378f9d8968ff3213948513',
    '0x00000000000000000000000000000000000000000000000000000000000024a8'],
   'sender_contract_decimals': None,
   'sender_name': None,
   'sender_contract_ticker_symbol': None,
   'sender_address': '0xed5af388653567af2f388e6224dc7c4b3241c544',
   'sender_address_label': None,
   'sender_logo_url': None,
   'raw_log_data': None,
   'decoded': {'name': 'Transfer',
    'signature': 'Transfer(indexed address from, indexed address to, uint256 value)',
    'params': [{'name': 'from',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x5d7aaa862681920ea4f350a670816b0977c80b37'},
     {'name': 'to',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x734a779dcecf924bff378f9d8968ff3213948513'},
     {'name': 'value',
      'type': 'uint256',
      'indexed': False,
      'decoded': False,
      'value': None}]}},
  {'block_signed_at': '2022-02-20T15:40:26Z',
   'block_height': 14243752,
   'tx_offset': 290,
   'log_offset': 376,
   'tx_hash': '0x93c6ab19dcc195e56c4d35a022cb486e49a44d64fc91da6d30952d4bd6d60710',
   'raw_log_topics': ['0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef',
    '0x0000000000000000000000002079c29be9c8095042edb95f293b5b510203d6ce',
    '0x0000000000000000000000005d7aaa862681920ea4f350a670816b0977c80b37',
    '0x0000000000000000000000000000000000000000000000000000000000002594'],
   'sender_contract_decimals': None,
   'sender_name': None,
   'sender_contract_ticker_symbol': None,
   'sender_address': '0xed5af388653567af2f388e6224dc7c4b3241c544',
   'sender_address_label': None,
   'sender_logo_url': None,
   'raw_log_data': None,
   'decoded': {'name': 'Transfer',
    'signature': 'Transfer(indexed address from, indexed address to, uint256 value)',
    'params': [{'name': 'from',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x2079c29be9c8095042edb95f293b5b510203d6ce'},
     {'name': 'to',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x5d7aaa862681920ea4f350a670816b0977c80b37'},
     {'name': 'value',
      'type': 'uint256',
      'indexed': False,
      'decoded': False,
      'value': None}]}},
  {'block_signed_at': '2022-01-16T16:27:59Z',
   'block_height': 14017642,
   'tx_offset': 213,
   'log_offset': 472,
   'tx_hash': '0xc72f213105eb4a67d2f3c0d2a39ece082830bd787f79bf94cd21bc1f3c5dcc05',
   'raw_log_topics': ['0xc4109843e0b7d514e4c093114b863f8e7d8d9a458c372cd51bfe526b588006c9',
    '0x000000000000000000000000803670ed3227eb7122e5c8746adbf5e5fbae8f2f',
    '0x0000000000000000000000000a267cf51ef038fc00e71801f5a524aec06e4f07',
    '0xe43aa28716b0b7531293557d5397f8b12f3f5abc000000000000000000000000'],
   'sender_contract_decimals': None,
   'sender_name': None,
   'sender_contract_ticker_symbol': None,
   'sender_address': '0x7be8076f4ea4a4ad08075c2508e481d6c946d12b',
   'sender_address_label': 'OpenSea: Wyvern Exchange v1',
   'sender_logo_url': None,
   'raw_log_data': '0x0000000000000000000000000000000000000000000000000000000000000000b992a8339326070511e964d0af76fcf27740d6e35e6af4192ae4fa21c4d9ad37000000000000000000000000000000000000000000000000257853b1dd8e0000',
   'decoded': {'name': 'OrdersMatched',
    'signature': 'OrdersMatched(bytes32 buyHash, bytes32 sellHash, indexed address maker, indexed address taker, uint256 price, indexed bytes32 metadata)',
    'params': [{'name': 'buyHash',
      'type': 'bytes32',
      'indexed': False,
      'decoded': True,
      'value': 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA='},
     {'name': 'sellHash',
      'type': 'bytes32',
      'indexed': False,
      'decoded': True,
      'value': 'uZKoM5MmBwUR6WTQr3b88ndA1uNeavQZKuT6IcTZrTc='},
     {'name': 'maker',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x803670ed3227eb7122e5c8746adbf5e5fbae8f2f'},
     {'name': 'taker',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x0a267cf51ef038fc00e71801f5a524aec06e4f07'},
     {'name': 'price',
      'type': 'uint256',
      'indexed': False,
      'decoded': True,
      'value': '2700000000000000000'},
     {'name': 'metadata',
      'type': 'bytes32',
      'indexed': True,
      'decoded': True,
      'value': '5Dqihxawt1MSk1V9U5f4sS8/WrwAAAAAAAAAAAAAAAA='}]}},
  {'block_signed_at': '2022-01-13T19:38:53Z',
   'block_height': 13999069,
   'tx_offset': 43,
   'log_offset': 38,
   'tx_hash': '0xa68ecafd1035f0624da41c9300186a88d4a095d2033c6cb1f570c46401af4160',
   'raw_log_topics': ['0xc4109843e0b7d514e4c093114b863f8e7d8d9a458c372cd51bfe526b588006c9',
    '0x0000000000000000000000007ee1922763d7a2192642d9736aed657352a7b092',
    '0x000000000000000000000000ae099730dfc04c086acd0ad9881f86ac62ad0b7a',
    '0x0000000000000000000000000000000000000000000000000000000000000000'],
   'sender_contract_decimals': None,
   'sender_name': None,
   'sender_contract_ticker_symbol': None,
   'sender_address': '0x7be8076f4ea4a4ad08075c2508e481d6c946d12b',
   'sender_address_label': 'OpenSea: Wyvern Exchange v1',
   'sender_logo_url': None,
   'raw_log_data': '0x00000000000000000000000000000000000000000000000000000000000000003059dd4a16a3ab17c6de0ed67418ec9ffb20a08739feee2457899825ea188847000000000000000000000000000000000000000000000000226abadc42f80000',
   'decoded': {'name': 'OrdersMatched',
    'signature': 'OrdersMatched(bytes32 buyHash, bytes32 sellHash, indexed address maker, indexed address taker, uint256 price, indexed bytes32 metadata)',
    'params': [{'name': 'buyHash',
      'type': 'bytes32',
      'indexed': False,
      'decoded': True,
      'value': 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA='},
     {'name': 'sellHash',
      'type': 'bytes32',
      'indexed': False,
      'decoded': True,
      'value': 'MFndShajqxfG3g7WdBjsn/sgoIc5/u4kV4mYJeoYiEc='},
     {'name': 'maker',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x7ee1922763d7a2192642d9736aed657352a7b092'},
     {'name': 'taker',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0xae099730dfc04c086acd0ad9881f86ac62ad0b7a'},
     {'name': 'price',
      'type': 'uint256',
      'indexed': False,
      'decoded': True,
      'value': '2480000000000000000'},
     {'name': 'metadata',
      'type': 'bytes32',
      'indexed': True,
      'decoded': True,
      'value': 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA='}]}},
  {'block_signed_at': '2022-01-13T19:02:40Z',
   'block_height': 13998929,
   'tx_offset': 76,
   'log_offset': 94,
   'tx_hash': '0xc7c3e21bd28e2c85394e8fd98c49c9922687174ed29839f18117f06ef4660d5c',
   'raw_log_topics': ['0xc4109843e0b7d514e4c093114b863f8e7d8d9a458c372cd51bfe526b588006c9',
    '0x000000000000000000000000c0d6d28811df8466e4bac33cfc9ed6e745900a07',
    '0x0000000000000000000000007ee1922763d7a2192642d9736aed657352a7b092',
    '0xb233ddab5da16808a2401b6895e129f4854e2744000000000000000000000000'],
   'sender_contract_decimals': None,
   'sender_name': None,
   'sender_contract_ticker_symbol': None,
   'sender_address': '0x7be8076f4ea4a4ad08075c2508e481d6c946d12b',
   'sender_address_label': 'OpenSea: Wyvern Exchange v1',
   'sender_logo_url': None,
   'raw_log_data': '0x0000000000000000000000000000000000000000000000000000000000000000cee01ea98c99d3fa42551d6d844a5d7df558f490aafbc9b434cd668c77e4fc86000000000000000000000000000000000000000000000000257853b1dd8e0000',
   'decoded': {'name': 'OrdersMatched',
    'signature': 'OrdersMatched(bytes32 buyHash, bytes32 sellHash, indexed address maker, indexed address taker, uint256 price, indexed bytes32 metadata)',
    'params': [{'name': 'buyHash',
      'type': 'bytes32',
      'indexed': False,
      'decoded': True,
      'value': 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA='},
     {'name': 'sellHash',
      'type': 'bytes32',
      'indexed': False,
      'decoded': True,
      'value': 'zuAeqYyZ0/pCVR1thEpdffVY9JCq+8m0NM1mjHfk/IY='},
     {'name': 'maker',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0xc0d6d28811df8466e4bac33cfc9ed6e745900a07'},
     {'name': 'taker',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x7ee1922763d7a2192642d9736aed657352a7b092'},
     {'name': 'price',
      'type': 'uint256',
      'indexed': False,
      'decoded': True,
      'value': '2700000000000000000'},
     {'name': 'metadata',
      'type': 'bytes32',
      'indexed': True,
      'decoded': True,
      'value': 'sjPdq12haAiiQBtoleEp9IVOJ0QAAAAAAAAAAAAAAAA='}]}},
  {'block_signed_at': '2022-01-13T18:16:49Z',
   'block_height': 13998719,
   'tx_offset': 101,
   'log_offset': 268,
   'tx_hash': '0x77635ff0eb81f11584fb3861a7820d8a7731461fff82edc66a22f025d52e06ac',
   'raw_log_topics': ['0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef',
    '0x0000000000000000000000000000000000000000000000000000000000000000',
    '0x000000000000000000000000c0d6d28811df8466e4bac33cfc9ed6e745900a07',
    '0x00000000000000000000000000000000000000000000000000000000000024a8'],
   'sender_contract_decimals': None,
   'sender_name': None,
   'sender_contract_ticker_symbol': None,
   'sender_address': '0xed5af388653567af2f388e6224dc7c4b3241c544',
   'sender_address_label': None,
   'sender_logo_url': None,
   'raw_log_data': None,
   'decoded': {'name': 'Transfer',
    'signature': 'Transfer(indexed address from, indexed address to, uint256 value)',
    'params': [{'name': 'from',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0x0000000000000000000000000000000000000000'},
     {'name': 'to',
      'type': 'address',
      'indexed': True,
      'decoded': True,
      'value': '0xc0d6d28811df8466e4bac33cfc9ed6e745900a07'},
     {'name': 'value',
      'type': 'uint256',
      'indexed': False,
      'decoded': False,
      'value': None}]}}]}

In [ ]:
import Web3